<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/header_section.css"/>
  <link rel="stylesheet" href="/static/css/footer_style.css"/>
  <link rel="stylesheet" href="/static/css/main_page_css.css"/>
</head>
<body>

<div class="container">
    <div class="left-section">
      <img src="/static/img/logo.png" alt="eTaxi Logo" class="logo"/>
      <h1 data-i18n="transfers_h1">Book a transfer right now!</h1>
      <p>Lorem ipsum dolor sit amet consectetur. At tempus sit est commodo viverra duis massa aenean. Tristique lorem ornare vitae lacus id curabitur lobortis feugiat laoreet. Risus tempus nisl pulvinar quis. Massa augue viverra sollicitudin fames semper.</p>
      <form>
        <button type="submit" data-i18n="view_transfers_button" onclick="window.location.href='#transferSection'">View Transfers</button>
      </form>
    </div>
    <div class="right-section">
        <button class="burger" id="burger">&#9776;</button>
      <nav class="nav" id="navMenu">
        <a data-i18n="nav_home" href="/">Home</a>
        <a data-i18n="nav_about" href="#">About</a>
        <a data-i18n="nav_contact" href="#">Contact</a>
        <button data-i18n="get_a_ride" class="ride-btn">Get a Ride</button>

      </nav>
      <img src="/static/img/transfer.png" alt="Eco Taxi" class="taxi-img"/>
    </div>
  </div>

<section class="services" id="transferSection">
  <h5 class="section-label">Transfers</h5>
  <h2 data-i18n="available_transfers">Available Transfers</h2>

  <div class="service-cards">
    <div class="card">
      <div class="card-image">
          <img src="/static/img/auschwitz.png" alt="">
      </div>
      <div class="card-content">
        <h4 data-i18n="transfer_auschwitz">Auschwitz</h4>
        <p>Risus augue dolor tincidunt aliquet. Nunc diam sapien nascetur aenean.</p>
        <a href="/transfer_auschwitz" class="learn-more" data-i18n="learn_more">Learn More</a>
      </div>
    </div>

    <div class="card">
      <div class="card-image">
          <img src="/static/img/zator.png" alt="">
      </div>
      <div class="card-content">
        <h4 data-i18n="transfer_zator">Zator (amusement park)</h4>
        <p>Risus augue dolor tincidunt aliquet. Nunc diam sapien nascetur aenean.</p>
        <a href="/transfer_zator" class="learn-more" data-i18n="learn_more">Learn More</a>
      </div>
    </div>

    <div class="card">
      <div class="card-image">
          <img src="/static/img/zakopane.png" alt="">
      </div>
      <div class="card-content">
        <h4 data-i18n="transfer_zakopane">Zakopane</h4>
        <p>Risus augue dolor tincidunt aliquet. Nunc diam sapien nascetur aenean.</p>
        <a href="/transfer_zakopane" class="learn-more" data-i18n="learn_more">Learn More</a>
      </div>
    </div>

  </div>

  <div class="services-bottom">
    <p data-i18n="transfers_p">
      All tranfers have different prices
    </p>
    <a href="#seemore" class="go-button" data-i18n="see_more_transfers">See More</a>
  </div>
</section>


<section class="services" id="seemore">

  <div class="service-cards">
    <div class="card">
      <div class="card-image">
          <img src="/static/img/katowice-pyrzowice.png" alt="">
      </div>
      <div class="card-content">
        <h4>Katowice-Pyrzowice (airport)</h4>
        <p>Risus augue dolor tincidunt aliquet. Nunc diam sapien nascetur aenean.</p>
        <a href="/transfer_katowice_pyrzowice" class="learn-more" data-i18n="learn_more">Learn More</a>
      </div>
    </div>

    <div class="card">
      <div class="card-image">
          <img src="/static/img/wieliczka-salt-mine.png" alt="">
      </div>
      <div class="card-content">
        <h4>Wieliczka Salt Mine</h4>
        <p>Risus augue dolor tincidunt aliquet. Nunc diam sapien nascetur aenean.</p>
        <a href="/transfer_wieliczka" class="learn-more" data-i18n="learn_more">Learn More</a>
      </div>
    </div>

     <div class="card">
      <div class="card-image">
          <img src="/static/img/teczyn-castle.png" alt="">
      </div>
      <div class="card-content">
        <h4>Tęczyn Castle</h4>
        <p>Risus augue dolor tincidunt aliquet. Nunc diam sapien nascetur aenean.</p>
        <a href="/transfer_teczyn" class="learn-more" data-i18n="learn_more">Learn More</a>
      </div>
    </div>

     <div class="card">
      <div class="card-image">
          <img src="/static/img/john_paul.png" alt="">
      </div>
      <div class="card-content">
        <h4>John Paul II International Airport</h4>
        <p>Risus augue dolor tincidunt aliquet. Nunc diam sapien nascetur aenean.</p>
        <a href="/transfer_john_paul" class="learn-more" data-i18n="learn_more">Learn More</a>
      </div>
    </div>

     <div class="card">
      <div class="card-image">
          <img src="/static/img/city_transfer.png" alt="">
      </div>
      <div class="card-content">
        <h4>City transfer</h4>
        <p>Risus augue dolor tincidunt aliquet. Nunc diam sapien nascetur aenean.</p>
        <a href="/transfer_city_transfer" class="learn-more" data-i18n="learn_more">Learn More</a>
      </div>
    </div>
  </div>
</section>

 <section class="pricing-section">
  <h5 class="section-subtitle" data-i18n="section_subtitle"></h5>
  <h2 class="section-title" data-i18n="section_title"></h2>
  <div class="pricing-cards">
    <div class="card">
      <h4 data-i18n="tariff_i_title"></h4>
      <p class="desc" data-i18n="tariff_i_desc"></p>
      <p class="price"><span data-i18n="tariff_i_price"></span> <span data-i18n="per_km">per km</span></p>
      <ul>
        <li data-i18n="tariff_i_list_1"></li>
        <li data-i18n="tariff_i_list_2"></li>
        <li data-i18n="tariff_i_list_3"></li>
      </ul>
    </div>
    <div class="card">
      <h4 data-i18n="tariff_ii_title"></h4>
      <p class="desc" data-i18n="tariff_ii_desc"></p>
      <p class="price"><span data-i18n="tariff_ii_price"></span> <span data-i18n="per_km">per km</span></p>
      <ul>
        <li data-i18n="tariff_ii_list_1"></li>
        <li data-i18n="tariff_ii_list_2"></li>
        <li data-i18n="tariff_ii_list_3"></li>
      </ul>
    </div>
    <div class="card">
      <h4 data-i18n="tariff_iii_title"></h4>
      <p class="desc" data-i18n="tariff_iii_desc"></p>
      <p class="price"><span data-i18n="tariff_iii_price"></span> <span data-i18n="per_km">per km</span></p>
      <ul>
        <li data-i18n="tariff_iii_list_1"></li>
        <li data-i18n="tariff_iii_list_2"></li>
        <li data-i18n="tariff_iii_list_3"></li>
      </ul>
    </div>
    <div class="card">
      <h4 data-i18n="tariff_iv_title"></h4>
      <p class="desc" data-i18n="tariff_iv_desc"></p>
      <p class="price"><span data-i18n="tariff_iv_price"></span> <span data-i18n="per_km">per km</span></p>
      <ul>
        <li data-i18n="tariff_iv_list_1"></li>
        <li data-i18n="tariff_iv_list_2"></li>
        <li data-i18n="tariff_iv_list_3"></li>
      </ul>
    </div>
  </div>
</section>

<footer class="footer">
  <div class="footer-container">
    <div class="footer-about">
      <img src="/static/img/logo_footer.png" alt="eTaxi Logo" class="logo" />
      <p data-i18n="footer_about_text">
        eTaxi — ваш надійний партнер для екологічних та зручних поїздок. Ми пропонуємо швидкі, надійні та сталі послуги таксі, щоб ви завжди могли дістатися до місця призначення вчасно та без стресу.
      </p>
      <div class="social-icons">
        <a href="#"><img src="facebook-icon.svg" alt="Facebook" /></a>
        <a href="#"><img src="twitter-icon.svg" alt="Twitter" /></a>
        <a href="#"><img src="linkedin-icon.svg" alt="LinkedIn" /></a>
        <a href="#"><img src="instagram-icon.svg" alt="Instagram" /></a>
      </div>
    </div>
    <div class="footer-links">
      <div>
        <h4 data-i18n="footer_company_title">Компанія</h4>
        <ul>
          <li><a href="#" data-i18n="footer_about_us">Про нас</a></li>
          <li><a href="#" data-i18n="footer_contact_info">Контактна інформація</a></li>
          <li><a href="#" data-i18n="footer_our_service">Наші послуги</a></li>
          <li><a href="#" data-i18n="footer_career">Кар'єра</a></li>
        </ul>
      </div>
      <div>
        <h4 data-i18n="footer_services_title">Послуги</h4>
        <ul>
          <li><a href="#" data-i18n="footer_transfers">Трансфери</a></li>
          <li><a href="#" data-i18n="footer_taxi">Таксі</a></li>
        </ul>
      </div>
      <div>
        <h4 data-i18n="footer_work_hours_title">Години роботи</h4>
        <p data-i18n="footer_work_hours">🕘 9:00 - 17:00, Понеділок - Субота</p>
        <p data-i18n="footer_phone">📞 +48880016108</p>
        <p data-i18n="footer_support">Наша служба підтримки та продажів доступна 24/7, щоб відповісти на ваші запити</p>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <p data-i18n="footer_copyright">Copyright © 2025 eTaxi | Дизайн від RichYou Agency</p>
    <div>
      <a href="#" data-i18n="footer_terms_of_use">Умови використання</a> | <a href="#" data-i18n="footer_privacy_policy">Політика конфіденційності</a>
    </div>
  </div>
</footer>

  <script>
    const burger = document.getElementById('burger');
    const navMenu = document.getElementById('navMenu');

    burger.addEventListener('click', () => {
      navMenu.style.left = navMenu.style.left === "0px" ? "-250px" : "0px";
    });
  </script>
</body>
<script src="/static/lang.js" defer></script>
</html>