<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/header_section.css"/>
  <link rel="stylesheet" href="/static/css/footer_style.css"/>
  <link rel="stylesheet" href="/static/css/pricing_section_style.css"/>
  <link rel="stylesheet" href="/static/css/main_page_css.css"/>
</head>
<body>

<div class="container">
    <div class="left-section">
      <img src="/static/img/logo.png" alt="eTaxi Logo" class="logo"/>
      <h1 data-i18n="transfers_h1">Book a transfer right now!</h1>
      <p>Lorem ipsum dolor sit amet consectetur. At tempus sit est commodo viverra duis massa aenean. Tristique lorem ornare vitae lacus id curabitur lobortis feugiat laoreet. Risus tempus nisl pulvinar quis. Massa augue viverra sollicitudin fames semper.</p>
      <form>
        <button type="submit" data-i18n="view_transfers_button" onclick="window.location.href='#transferSection'">View Transfers</button>
      </form>
    </div>
    <div class="right-section">
        <button class="burger" id="burger">&#9776;</button>
      <nav class="nav">
        <a href="/" data-i18n="nav_home">Home</a>
        <a href="#" data-i18n="nav_about">About</a>
        <a href="#" data-i18n="nav_contact">Contact</a>
        <button class="ride-btn">Get a Ride</button>
      </nav>
      <img src="/static/img/transfer.png" alt="Eco Taxi" class="taxi-img"/>
    </div>
  </div>

<section class="services" id="transferSection">
  <h5 class="section-label">Transfers</h5>
  <h2 data-i18n="available_transfers">Available Transfers</h2>

  <div class="service-cards">
    <div class="card">
      <div class="card-image">
          <img src="/static/img/auschwitz.png" alt="">
      </div>
      <div class="card-content">
        <h4 data-i18n="transfer_auschwitz">Auschwitz</h4>
        <p>Risus augue dolor tincidunt aliquet. Nunc diam sapien nascetur aenean.</p>
        <a href="/transfer_auschwitz" class="learn-more" data-i18n="learn_more">Learn More</a>
      </div>
    </div>

    <div class="card">
      <div class="card-image">
          <img src="/static/img/zator.png" alt="">
      </div>
      <div class="card-content">
        <h4 data-i18n="transfer_zator">Zator (amusement park)</h4>
        <p>Risus augue dolor tincidunt aliquet. Nunc diam sapien nascetur aenean.</p>
        <a href="/transfer_zator" class="learn-more" data-i18n="learn_more">Learn More</a>
      </div>
    </div>

    <div class="card">
      <div class="card-image">
          <img src="/static/img/zakopane.png" alt="">
      </div>
      <div class="card-content">
        <h4 data-i18n="transfer_zakopane">Zakopane</h4>
        <p>Risus augue dolor tincidunt aliquet. Nunc diam sapien nascetur aenean.</p>
        <a href="/transfer_zakopane" class="learn-more" data-i18n="learn_more">Learn More</a>
      </div>
    </div>

  </div>

  <div class="services-bottom">
    <p data-i18n="transfers_p">
      All tranfers have different prices
    </p>
    <a href="#seemore" class="go-button" data-i18n="see_more_transfers">See More</a>
  </div>
</section>


<section class="services" id="seemore">

  <div class="service-cards">
    <div class="card">
      <div class="card-image">
          <img src="/static/img/katowice-pyrzowice.png" alt="">
      </div>
      <div class="card-content">
        <h4>Katowice-Pyrzowice (airport)</h4>
        <p>Risus augue dolor tincidunt aliquet. Nunc diam sapien nascetur aenean.</p>
        <a href="/transfer_katowice_pyrzowice" class="learn-more" data-i18n="learn_more">Learn More</a>
      </div>
    </div>

    <div class="card">
      <div class="card-image">
          <img src="/static/img/wieliczka-salt-mine.png" alt="">
      </div>
      <div class="card-content">
        <h4>Wieliczka Salt Mine</h4>
        <p>Risus augue dolor tincidunt aliquet. Nunc diam sapien nascetur aenean.</p>
        <a href="/transfer_wieliczka" class="learn-more" data-i18n="learn_more">Learn More</a>
      </div>
    </div>

     <div class="card">
      <div class="card-image">
          <img src="/static/img/teczyn-castle.png" alt="">
      </div>
      <div class="card-content">
        <h4>Tęczyn Castle</h4>
        <p>Risus augue dolor tincidunt aliquet. Nunc diam sapien nascetur aenean.</p>
        <a href="/transfer_teczyn" class="learn-more" data-i18n="learn_more">Learn More</a>
      </div>
    </div>

     <div class="card">
      <div class="card-image">
          <img src="/static/img/john_paul.png" alt="">
      </div>
      <div class="card-content">
        <h4>John Paul II International Airport</h4>
        <p>Risus augue dolor tincidunt aliquet. Nunc diam sapien nascetur aenean.</p>
        <a href="/transfer_john_paul" class="learn-more" data-i18n="learn_more">Learn More</a>
      </div>
    </div>

     <div class="card">
      <div class="card-image">
          <img src="/static/img/city_transfer.png" alt="">
      </div>
      <div class="card-content">
        <h4>City transfer</h4>
        <p>Risus augue dolor tincidunt aliquet. Nunc diam sapien nascetur aenean.</p>
        <a href="/transfer_city_transfer" class="learn-more" data-i18n="learn_more">Learn More</a>
      </div>
    </div>
  </div>
</section>

<section class="pricing-section">
  <h5 class="section-subtitle">SWIFT RESERVATIONS</h5>
  <h2 class="section-title">Explore Our Budget-Friendly Rates</h2>
  <div class="pricing-cards">
    <div class="card">
      <h4>Tariff I</h4>
      <p class="desc">The rate per kilometer applied on weekdays within the administrative boundaries of the city.</p>
      <p class="price">2.82 PLN <span>per km</span></p>
      <ul>
        <li>🚕 Available on weekdays</li>
        <li>🏙️ Inside city limits</li>
        <li>⏰ All day (except night hours)</li>
      </ul>
      <a href="#" class="btn">Learn More</a>
    </div>

    <div class="card">
      <h4>Tariff II</h4>
      <p class="desc">Applied during nighttime hours from 10:00 PM to 6:00 AM and on Sundays and public holidays.</p>
      <p class="price">3.15 PLN <span>per km</span></p>
      <ul>
        <li>🌙 Nighttime service</li>
        <li>🗓️ Sundays and public holidays</li>
        <li>🏙️ Within city limits</li>
      </ul>
      <a href="#" class="btn">Learn More</a>
    </div>

    <div class="card">
      <h4>Tariff III</h4>
      <p class="desc">Rate per kilometer applied on weekdays between 6:00 AM and 10:00 PM outside the city limits.</p>
      <p class="price">3.79 PLN <span>per km</span></p>
      <ul>
        <li>🚖 Weekday service</li>
        <li>🌄 Daytime hours (6 AM – 10 PM)</li>
        <li>🌐 Outside city limits</li>
      </ul>
      <a href="#" class="btn">Learn More</a>
    </div>

    <div class="card">
      <h4>Tariff IV</h4>
      <p class="desc">Applied during nighttime hours from 10:00 PM to 6:00 AM and on Sundays and public holidays outside the city limits.</p>
      <p class="price">4.00 PLN <span>per km</span></p>
      <ul>
        <li>🌙 Nighttime service</li>
        <li>🛣️ Outside city limits</li>
        <li>🗓️ Sundays and public holidays</li>
      </ul>
      <a href="#" class="btn">Learn More</a>
    </div>
  </div>
</section>

<footer class="footer">
  <div class="footer-container">
    <div class="footer-about">
      <img src="/static/img/logo_footer.png" alt="eTaxi Logo" class="logo" />
      <p>
        Faucibus quis fringilla scelerisque dui. Amet parturient dui venenatis amet sagittis
        viverra vel tincidunt. Orci tincidunt.
      </p>
      <div class="social-icons">
        <a href="#"><img src="facebook-icon.svg" alt="Facebook" /></a>
        <a href="#"><img src="twitter-icon.svg" alt="Twitter" /></a>
        <a href="#"><img src="linkedin-icon.svg" alt="LinkedIn" /></a>
        <a href="#"><img src="instagram-icon.svg" alt="Instagram" /></a>
      </div>
    </div>
    <div class="footer-links">
      <div>
        <h4>Company</h4>
        <ul>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Contact Info</a></li>
          <li><a href="#">Our Service</a></li>
          <li><a href="#">Career</a></li>
        </ul>
      </div>
      <div>
        <h4>Services</h4>
        <ul>
          <li><a href="#">Transfers</a></li>
          <li><a href="#">Taxi</a></li>
        </ul>
      </div>
      <div>
        <h4>Work Hours</h4>
        <p>🕘 9 AM - 5 PM, Monday - Saturday</p>
        <p>📞 +48880016108</p>
        <p>Our Support and Sales team is available 24/7 to answer your queries</p>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <p>Copyright © 2025 eTaxi | Design by RichYou Agency</p>
    <div>
      <a href="#">Terms of Use</a> | <a href="#">Privacy Policy</a>
    </div>
  </div>
</footer>

  <script>
    const burger = document.getElementById('burger');
    const navMenu = document.getElementById('navMenu');

    burger.addEventListener('click', () => {
      navMenu.style.left = navMenu.style.left === "0px" ? "-250px" : "0px";
    });
  </script>
</body>
<script src="/static/lang.js" defer></script>
</html>